<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <style type="text/css">
            input {
                margin-bottom: 3px;
            }
            body {
               background-color: #333;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">NUS Tutoring Service <i class="bi bi-people"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="add">Add</a>
                        <a class="nav-link active" aria-current="page" href="#">Edit</a>
                    </div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>&nbsp;
                        <button class="btn btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"></i></button>
                    </form>
                </div>
            </div>
        </nav>        
        <!-- <h2 class="text-white">Edit {{obj.5}}</h2> -->
        <!-- <a href="/">Back to home</a> -->

        <p class="text-danger">{{ status|safe }}</p>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <!-- Create a Form -->
                    <form method="POST">
                        <!-- Security token by Django -->
                        {% csrf_token %}
                        <!-- form -->
                        <div id="div_id_name" class="control-group form-floating">
                            <input type="text" name="name" value="{{obj.0}} {{obj.1}}" maxlength="64" class="textinput textInput form-control" id="id_name" placeholder="Name" required>
                            <label for="id_name" class="control-label requiredField form-label">
                                Name<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_id" class="control-group form-floating">
                            <input type="text" name="id" value="E0123456" maxlength="64" class="textinput textInput form-control" id="id_id" placeholder="ID" required>
                            <label for="id_id" class="control-label requiredField form-label">
                                ID<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_module_code" class="control-group form-floating">
                            <input type="text" name="module_code" value="IT2002" maxlength="64" class="textinput textInput form-control" id="id_module_code" placeholder="Module code" required>
                            <label for="id_module_code" class="control-label requiredField form-label">
                                Module code<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_module_name" class="control-group form-floating">
                            <input type="text" name="module_name" value="Database Technology and Management" maxlength="64" class="textinput textInput form-control" id="id_module_name" placeholder="Module name" required>
                            <label for="id_module_name" class="control-label requiredField form-label">
                                Module name<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_grade" class="control-group form-floating">
                            <input type="text" name="grade" value="A-" maxlength="64" class="textinput textInput form-control" id="id_grade" placeholder="Grade" required>
                            <label for="id_grade" class="control-label requiredField form-label">
                                Grade<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_sem" class="control-group form-floating">
                            <input type="text" name="sem" value="21S2" maxlength="64" class="textinput textInput form-control" id="id_sem" placeholder="Semester" required>
                            <label for="id_sem" class="control-label requiredField form-label">
                                Semester<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_fee" class="control-group form-floating">
                            <input type="text" name="fee" value="50" maxlength="64" class="textinput textInput form-control" id="id_fee" placeholder="Fee" required>
                            <label for="id_fee" class="control-label requiredField form-label">
                                Fee<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <div id="div_id_unit_time" class="control-group form-floating">
                            <input type="text" name="unit_time" value="hr" maxlength="64" class="textinput textInput form-control" id="id_unit_time" placeholder="Unit time" required>
                            <label for="id_unit_time" class="control-label requiredField form-label">
                                Unit time<span class="asteriskField">*</span> 
                            </label>     
                        </div>
                        <!-- <div id="div_id_last_name" class="control-group form-floating"> -->
                            <!-- <input type="text" name="last_name" value="{{obj.1}}" maxlength="64" class="textinput textInput form-control" id="id_last_name" placeholder="Last name" required> -->
                            <!-- <label for="id_last_name" class="control-label requiredField form-label"> -->
                                <!-- Last name<span class="asteriskField">*</span> -->
                            <!-- </label> -->
                        <!-- </div> -->
                        <!-- <div id="div_id_email" class="control-group form-floating">
                            <input type="email" name="email" value="{{obj.2}}" maxlength="64" class="textinput textInput form-control" id="id_email" placeholder="Email" required>
                            <label for="id_email" class="control-label requiredField form-label">
                                Email<span class="asteriskField">*</span>
                            </label>
                        </div>
                        <div id="div_id_dob" class="control-group form-floating">
                            <input type="date" name="dob" value="{{obj.3|slugify}}" class="dateinput form-control" id="id_dob" placeholder="Date of birth (yyyy-mm-dd)" required>
                            <label for="id_dob" class="control-label requiredField form-label">
                                Date of birth (yyyy-mm-dd)<span class="asteriskField">*</span>
                            </label>
                        </div>
                        <div id="div_id_since" class="control-group form-floating">
                            <input type="date" name="since" value="{{obj.4|slugify}}" class="dateinput form-control" id="id_since" placeholder="Since (yyyy-mm-dd)" required>
                            <label for="id_since" class="control-label requiredField form-label">
                                Since (yyyy-mm-dd)<span class="asteriskField">*</span>
                            </label>
                        </div>
                        <div id="div_id_customerid" class="control-group form-floating">
                            <input type="text" name="country" value="{{obj.6}}" maxlength="16" class="textinput textInput form-control" id="id_country" placeholder="Country" required>
                            <label for="id_customerid" class="control-label requiredField form-label">
                                Country<span class="asteriskField">*</span>
                            </label>
                        </div> -->
                        <br>
                        <button type="submit" class="btn btn-primary text-center" value="Update">Update</button>
                    </form>                    
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
