body {
   background-color: #333;
}

.container table {
    max-width: 400px !important;
    margin: 0 auto;
}

.container {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   max-width: 100% !important;
}